.cart_modal_wrapper {
    background-color: #F8F8F8;
    border-radius: 16px;
    filter: drop-shadow(0 2px 4px #00000033);
    display: flex;
    flex-direction: row;

}

.title_addition_container {
    display: flex;
    flex-direction: column;
}
.delete_price_container {
    display: flex;
    flex-direction: column;
}
.addition_quantity_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.additions_container {

}
.quantity_container {
    display: flex;
    flex-direction: row;
    width: 11%;
}
.quantity_container button {
    background-color: #7C9BC0;
    width: 100%;
    height: 100%;
}
.product_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0;
}
.delete_button {
    background: none;
    border: none;
    cursor: pointer;
}
.price {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0;
}
.dollar_icon {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0;
}
.additions {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #496B94;
}
.dropdown_btn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.additions_list {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
}

