.text-looking-div {
    display: "flex";
    text-align: center;

    font-size: 0.938vw; 
    font-Weight: 400; 
    width: 41.569vw;
    margin-top: 1vw;
}

.div-visit-contact {
    cursor: pointer;
    color: rgb(121, 160, 197);

    font-weight: 500;
    font-size: 0.938vw;
    line-height: 130%;
    letter-spacing: 0%;
}

.div-visit-contact:hover {
    color: rgb(134, 176, 214);
}