.item_cart_modal_wrapper {
    background-color: #F8F8F8;
    border-radius: 16px;
    filter: drop-shadow(0 2px 4px #00000033);
    display: flex;
    flex-direction: row;
    padding: 14px 28px;
    aspect-ratio: 1047 / 212;
    width: 54vw;
}

.title_addition_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
.delete_price_container {
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
}
.addition_quantity_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.additions_container {

}
.quantity_container {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-right: 3vw;
}
.quantity_container span {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0;
    text-align: center;
    color: #333333;
}
.quantity_container button {
    background-color: #7C9BC0;
    border-radius: 31px;
    border: 0 none;
    width: 37px;
    height: 26px;
    color: white;
    cursor: pointer;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0;
}
.product_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0;
}
.delete_button {
    background: none;
    border: none;
    cursor: pointer;
}
.price {
    display: inline-flex;
    align-items: flex-start;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0;
}
.dollar_icon {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0;
}
.additions {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #496B94;
}
.dropdown_btn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 18px;
    cursor: pointer;

}

.additions_list {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    list-style: none;

    margin-top: 45px;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.additions_list li {
    display: flex;
    align-items: center;
}

.discount {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0;

    align-self: flex-end;
    display: inline-flex;
    align-items: flex-start;
    padding: 0;
    gap: 4px;

    position: relative;
    color: #888;
}


.discount::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    height: 2px;
    background: orange;
    transform: translateY(-50%);
    pointer-events: none;
}

.discount_dollar_sign {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 6px;
    line-height: 1.2;
    letter-spacing: 0;

    align-self: flex-start;
}
.prices {
    display: flex;
    flex-direction: column;
}

.checkbox {
    background-color: #496B94;
    border: solid #49516D;
}

.checkbox_input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox_wrapper {
    display: inline-block;
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin-right: 20px;
}

.checkbox_icons {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_unchecked,
.icon_checked {
    width: 100%;
    height: 100%;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.icon_checked {
    display: none;
}

.checkbox_input:checked ~ .checkbox_icons .icon_unchecked {
    display: none;
}

.checkbox_input:checked ~ .checkbox_icons .icon_checked {
    display: block;
    animation: popIn 0.2s cubic-bezier(0.26, 1.36, 0.74, 1.49);
}

@keyframes popIn {
    0% { transform: scale(0.8); }
    100% { transform: scale(1); }
}

.is_in_stock_and_learn_more {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;

    color: #49516D;
}

.is_a_gift {
    display: flex;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
}

.image_wrapper {
    height: 10vw;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_wrapper img {
    height: 100%;
    width: auto;
    object-fit: contain;
    display: block;
}

.title_delete_container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}