@media (max-width: 768px) {
  .div-dear-text {
    margin-top: 6vw;
    font-size: 2.6vw;
  }

  .div-description-text {
    font-size: 1.585vw;
    margin-top: 2vw;
  }

  .div-for-icon-service {
    margin-top: 3vw;
    width: 68.427vw;
  }

  .block-service {
    padding: 5vw;
    gap: 4vw;
    width: 33.4vw;
    height: 14.26vw;
    border-radius: 1, 86vw;
    box-shadow: 0px 0.204vw 0.408vw 0px rgba(0, 0, 0, 0.2);
    font-size: 1.66vw;
  }

  .icon {
    font-size: 5.5vw;
  }

  .text-des-mob {
    font-size: 1.88vw;
  }

  .input-service {
    padding-right: 5vw;
    font-size: 1.8vw;
    margin-top: 2vw;
    padding: 2vw;
    width: 85.427vw;
    height: 4.2vw;
    border-radius: 2.5vw;
    box-shadow: 0px 0.204vw 0.408vw 0px rgba(0, 0, 0, 0.2);
  }

  .searchIconn {
    right: 2vw;
    top: 70%;
    height: 2.25vw;
  }

  .search-results {
    border-radius: 0.8vw;
    margin-top: 0.6vw;
    padding: 0.6vw 0;
    box-shadow: 0 0.613vw 2.042vw rgba(0, 0, 0, 0.15);
  }
}
